.shortlist {
	margin: 2%;
}

.center {
	display: block;
	margin: auto;
	text-align: center;
}

table {
	width: 60%;
	margin-left: auto;
	margin-right: 20%;
}

img {
	width: 45%;
	display: block;
	margin: auto;
}

